.DS_Store
.dart_tool/
.packages
.pub/
.idea/
sample_input.txt
doc/
build/
# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
pubspec.lock
example/ios/Podfile
example/ios/Podfile.lock
example/pubspec.lock
